body {
    background-color: #58bdbd;
}
h1 {
    color:#025157;
    text-align: center;
    font-family: 'Comic Neue', cursive;
}

p {
color: #8b8b8bcc;
font-family: verdana;
font-size: 20px;
}

button {
    color: #fff;
    background-color: 025157;
}

.header{
    margin: 40px 20px 0;
    font-size: 0;
}

li{
    display: inline;
}

.header > *{
    display: inline-block;
    font-size: 16px;
    line-height: 45px;
    height: 100%;
    vertical-align: middle;
}
.logo{
    width: 15%;
}

.logo > img {
    width: 15%;
}
.navbar{
    font-family: sans-serif;
    width: 45%;
    word-spacing: 25px;
    text-align: left;
    color: #025157;
    font-weight: 500;
}
.actions {
    width: 15%;
    text-align: left;
    font-size: 14px;
    word-spacing: 10px;
    font-weight: 600;
}
.main {
    margin-top: 140px;
    text-align: center;
}
.firma {
    color: #67b54b ;
}
.botones {
    color: white;
    background-color: #67b54b;
    border-radius: 5px;
    border: none;
    padding: 12px, 14px, 12px, 14px;
}